# node-postgres configuration
PGUSER=USER
PGHOST=HOST
PGPASSWORD=PASSWORD
PGDATABASE=openmusicapp
PGPORT=5432

# nodemailer SMTP authentication
MAIL_ADDRESS=<Email Gmail Anda>
MAIL_PASSWORD=<Password Gmail Anda>

# Message broker
RABBITMQ_SERVER=amqp://localhost